/* .settingContent{
    display: flex;
    width: 600px;
}
.settingleftContent{
    width: 100%;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .settingContent{
    display: flex;
    width: 600px;
}
.settingleftContent{
    width: 100%;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
} */