# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
# node_modules
RN_towelClient/node_modules
React_towelClient/node_modules
Vue_towelClient/node_modules
towelSever/node_modules
uniapp_towelClient/node_modules
RN_towelClient/.DS_Store
Web_towelClient/.DS_Store
towelSever/.DS_Store
uniapp_towelClient/.DS_Store
RN_towelClient/dist
Web_towelClient/dist
towelSever/dist
uniapp_towelClient/dist
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
# build dist
Web_towelClient/build