.reply {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.replynumbe {
    margin-left: 10px;
    color: var(--fontColor);
    cursor: default;
}

.replyText {
    color: var(--fontColor);
    cursor: default;
}

.replyText:hover,
.replynumbe:hover {
    color: rgba(134, 196, 248, 1);
}

.replyimport {
    display: flex;
    justify-content: center;
}

.replybutton {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.like {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    color: var(--fontColor);
}

.submitreply:hover {
    cursor: pointer;
}