.headimgName {
    display: flex;
}

.userName {
    font-size: 14px;
    font-weight: bold;
}

.headimg {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.leftplace {
    height: 100%;
    width: 200px;
}

img {
    width: 32px;
    height: 32px;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
}

.link {
    margin-top: 15px;
    background-color: var(--boxColor);
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 50px;
    color: var(--fontColor);
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: var(--boxHoverColor);
}

.logo {
    text-align: center;
    font-size: 4.5rem;
    width: 100%;
    height: 6.5rem;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width:750px) {
    .leftplace {
        height: 100%;
        width: 60px;
    }

    .bar {
        height: 48px;
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        overflow-y: hidden;
        border-right: 1px solid #000000;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: space-between;
        align-content: center
    }

    .link {
        width: 55%;
    }
}

@media screen and (min-width:751px) and (max-width:1000px) {
    .leftplace {
        height: 100%;
        width: 100px;
    }

    .bar {
        width: 100%;
        position: static;
    }

    .link {
        width: 75%;
    }

}