.settingContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    text-align: center;
}

.settingContent>div {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--boxColor);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settingContent>div:hover {
    background-color: var(--boxHoverColor);
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(134, 196, 248, 1);
}