.inputFlie{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor:"pointer";
    color: #000;
    font-size: 12px;
}
.addContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.addbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.addbuttonImage {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px
}
.addbuttonAdd {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px
}

.messagebigbox {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
    background-color: var(--boxColor);
    margin-top: 8px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid #000;
}

.messagebox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--boxColor);
}

.thisshowname {
    display: flex;

    align-items: center;
    gap: 8px;
}

.handname {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--fontColor);
}

.handimg {
    width: 40px;
    height: 40px;
    background-color: rgb(85, 37, 95);
    border-radius: 50%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.handname:hover {
    text-decoration: underline
}

.thisshowcontent {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.thisshowbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;

}

.thisshowbottom :nth-child(1) {
    text-decoration: none;
}

.MessageFilled {
    color: #000;
}

.MessageFilled:hover {
    color: rgb(89, 152, 204);
    text-decoration: underline;
}

.star {
    color: #000;
}

.nostar {
    color: red;
}

.star:hover {
    color: rgb(231, 233, 125);
}

.share:hover {
    color: rgb(131, 204, 89);
}

.whitelike {
    color: rgb(0, 0, 0);
}

.whitelike:hover {
    color: rgb(188, 27, 27);
}

.redlike {
    color: rgb(188, 27, 27);
}