.SettingUserForgetPage {
    color: var(--fontColor);
}

.SettingUserForgetPageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SettingUserForgetPageForm>input {
    width: 15rem;
    height: 1.5rem;
    margin-top: 10px;
    background-color: var(--boxColor);
    border: none;
    color: var(--fontColor);

}

.SettingUserForgetPageFormSendCode,
.SettingUserForgetPageFormSubmitBotton {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--boxColor);
    border: none;
    color: var(--fontColor);
}

.EyeOutlined,
.EyeInvisibleOutlined {
    position: absolute;
    top: 78px;
    transform: translateX(-50%);
    right: 10%;
    z-index: 2;
    height: 24px;
    width: 24px;
    ;

}

.EyeOutlined2,
.EyeInvisibleOutlined2 {
    position: absolute;
    top: 112px;
    transform: translateX(-50%);
    right: 10%;
    z-index: 2;
    height: 24px;
    width: 24px;
    ;

}