.SettingDeactivateForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SettingDeactivateForm>input {
    width: 15rem;
    height: 1.5rem;
    margin-top: 10px;
    background-color: var(--boxColor);
    border: none;
    color: var(--fontColor);
}