/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {

    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;

}
:root{
    --hostColor: rgba(134, 196, 248,1);
    --hostTransparencyColor: rgba(134, 196, 248,0.4);
    --assistantColor:rgba(248, 196, 134, 1)
}
body[color-model='dark'] {
    background-color: black;
    --fontColor: white;
    --boxColor: #101010;
    --boxShadow: 0;
    --boxHoverColor: #202020;
}

body[color-model='light'] {
    background-color: white;
    --fontColor: black;
    --boxColor: #f6f6f6;
    --boxHoverColor: #d8d8d8;
    --boxShadow: 0;
}

body[color-model='bing'] {
    background-color: white;
    --fontColor: black;
    --boxShadow: 0 2px 4px 1px rgba(0, 0, 0, .09);
    --boxColor: rgb(255 250 250 / 70%);
    --boxHoverColor: #d8d8d8;
}